#countLabel{
  display: block;
  text-align: center;
  font-size: 10em;
  font-family: Helvetica;
}

#btnContainer{
  text-align: center;
}

.buttons {
  padding: 10px 20px;
  font-size: 1.5em;
  color: white;
  background-color: rgb(76, 212, 212);
  border-radius: 5px;
  cursor: pointer;
  transition: background-coloe 0.25;
}
.buttons:hover{
  background-color: rgb(38, 135, 233);
}