body{
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
}
.enabled{
  background-color: rgb(73, 205, 249);
}

.myBtns{
  font-size: 4rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

.hover{
  box-shadow: 0 0 10px rgb(68, 68, 68);
  font-weight: bold;
}

.diabled{
  background-color: antiquewhite;
  columns: gray;
}

.slider{
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider img{
  width: 100%;
  display: none;
}

img.displaySlide{
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slider button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 10px 15px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.previous{
  left: 0;
}

.next{
  right: 0;
}

@keyframes fade {
  from {opacity: .5;}
  to {opacity: 1;}
}